<div class="container" style="text-align:center">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Address Autocomplete</h1>
      <input
        type="text"
        #addressSearchInput
        class="form-control"
        placeholder="Street Address"
      />
    </div>
  </div>
  <div class="row" *ngIf="isSearching">
    <div class="col-12 text-center">
      <h4>Searching ...</h4>
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="apiResponse[0]?.error; else elseTemplate">
      <div class="col-12 text-center">
        <div class="alert alert-danger" role="alert">Address not found</div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="col-3" *ngFor="let address of apiResponse">
        <p>{{ address.street_line }}</p>
      </div>
    </ng-template>
  </div>
</div>
